/* ************************* Медиа запрос: для экранов с шириной до 1140px ************************* */
/* @media (max-width: 1190px) {
  .header-nav-ul {
    display: block;
    align-items: flex-start;
    gap: 10px;
  }
} */

/* ************************* Медиа запрос: для экранов с шириной до 760px ************************* */
/* @media (max-width: 1025px) {
  .header-burger {
    position: absolute;
    top: 37px;
    right: 15px;
    display: block;
  }
  .header-email,
  .header-phone,
  .btn-call,
  .header-nav-ul {
    display: none;
  }
  .header-line {
    display: none;
  }

  .header-nav-media_div{
    left: 0;
    right: 0;
    margin: 0;
    width: 300px;
    height: 700px;
    flex-shrink: 0;
    background-color:#fff;
    /* Свойство тени для блока */
    /* 2 px - это гор отступ справа, 0px - это верт отступ снизу, 15рх радиус размытия тени */
    /* rgba первые три цифры сам цвет, 4 цифра отвечает за прозрачность */
    /* box-shadow: 2px 0px 15px 0px rgba(125, 125, 125, 0.35); */
  /* } */

  /* .header-nav-ul {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 28px;
  } 

   .header-nav-ul *{
    gap: 24px;
  } 
 } */

/* ************************* Медиа запрос: для экранов с шириной до 760px ************************* */
@media only screen and (max-width: 1210px) {
  .container-site{
    max-width: 992px
  }
}

@media (max-width: 992px) {
  .container-site{
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container-site{
    max-width: none;
  }
}

