* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background-color: beige; */
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: var(--dark, #333);

  width: auto;
  height: 100vh;

  min-width: 320px;
  min-height: 100%;
}

.none {
  display: none !important;
}
.site-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  gap: 80px;
}

/* ====================================== HEADER ====================================== */

.header__conteiner {
  width: 1180px;
  height: 113px;
}

.header-top {
  display: flex;
}
.header-logo {
  width: 180px;
  height: 38px;
  flex-shrink: 0;
  padding: 3px 520px 36px 0px;
}
.header-email {
  margin-left: 180px;
  text-align: right;
  width: 280px;
  height: 45px;
  flex-shrink: 0;
}
.header-email a {
  color: var(--accent, #607ce6);

  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  /* text-decoration: none; Убирает нижнее подчеркивание */
}
.header-email p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 16.8px */
}

.header-phone {
  width: 180px;
  height: 45px;
  flex-shrink: 0;
  margin-left: 20px;

  text-align: right;
}
.header-phone p {
  margin: 0;
  color: var(--dark, #333);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 16.8px */
}
.header-phone a {
  color: var(--accent, #607ce6);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none; /* Убирает нижнее подчеркивание */
}

.header-line {
  position: absolute;
  width: 1180px;
  height: 1px;
  flex-shrink: 0;
  background: var(--gray, #888);
  margin-top: 77px;
  margin-bottom: 16px;
}

.header-bottom {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 48px;
  height: 19px;
  gap: 72px;
}
.header-nav-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 44px;
  flex-shrink: 0;
  font-size: 15;
  width: 951px;
}

.header-nav ul {
  margin: 0;
  padding: 0;
}
.header-nav a {
  text-decoration: none; /* Убирает нижнее подчеркивание */

  color: var(--dark, #333);
  font-weight: 400;
  line-height: 1.2; /* 19.2px */
}

.header-nav a:hover {
  color: var(--accent, #1d44cf);
}

.btn-call {
  align-items: center;
  border: 0;
  background-color: #fff;
  width: 157px;
  display: flex;

  text-transform: uppercase; /* Перевод всего текста в верхний регистр, т.е. заглавные буквы */
  font-weight: 400;
  line-height: 1.2; /* 19.2px */

  text-decoration: none; /* Убирает нижнее подчеркивание */

  color: var(--dark, #333);
  margin: 0;
  padding: 0;
}
.btn-call:hover {
  color: var(--accent, #1d44cfbb);
  text-shadow: ;
}
.btn-call img {
  margin-right: 4px;
  /* padding-left: 72px;   */
}

/* ====================================== HEADER ====================================== */

/*  */

/* ======================================  MAIN  ====================================== */
.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.hero-section {
  width: 1180px;
  height: 616px;
}
.hero-top {
  display: grid;
  /* ms-grid-columns: (1fr)[12]; */
  grid-template-columns: 50% 50%;
  gap: 10px;
}
.hero-title {
  width: 580px;

  padding-bottom: 32px;
  margin: 0;

  color: var(--dark, #333);

  font-size: 60px;
  font-weight: 700;
  line-height: 1.2; /* 72px */
}
.hero-discription {
  margin: 0;
  width: 379px;
  height: 94px;
  flex-shrink: 0;
  justify-content: center;
  padding-top: 24px;

  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 19.2px */
}

.about-section {
  width: 1180px;
  height: 602px;
}
.about-top {
  display: grid;
  grid-template-columns: 49.15% 49.15%;
  gap: 20px;
}
.about-top > h2:nth-child(1) {
  grid-column: 1 / -1;
  padding-bottom: 12px;
}
.about-top > p:nth-child(4) {
  grid-column: 1 /-1;
  padding-top: 4px;
  padding-bottom: 12px;
}
.about-title {
  width: 580px;

  color: var(--dark, #333);

  font-size: 60px;
  font-weight: 700;
  line-height: 1.2; /* 72px */
}
.about-discription {
  margin: 0;
  width: 580px;
  /* height: 94px; */
  flex-shrink: 0;
  justify-content: center;

  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 19.2px */
}
.about-top > img:nth-child(5) {
  margin: 0;
}

.product-container {
  width: 1180px;
  height: 985px;
}

.product-title {
  color: var(--dark, #333);
  font-family: Source Sans 3;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2; /* 57.6px */
  padding-bottom: 32px;
}
.product-list {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 20px;
  list-style: none;
}

.product-item {
  box-sizing: border-box;
}
.product-item a {
  text-decoration: none; /* Убирает нижнее подчеркивание */
  color: var(--accent, #607ce6);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2; /* 24px */
}
.products-card__image {
  border-style: none;
}
.product-card * {
  /* margin-left: 24px; */
  background-color: cadetblue;
}
.card-link {
  background-color: brown;
}
.product-card {
  width: 380px;
  height: 435px;
  flex-shrink: 0;
  background: var(--light-gray, #f5f5f5);

  background-color: burlywood;
}
.product-card img {
}
.product-card h3 {
  color: var(--dark, #333);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2; /* 33.6px */
  padding-top: 107px;
}

.product-card a img {
  margin-left: 8px;
}
.card-link img{
  
  padding-right: 156px;
  padding-top: 32px;
}
/* ======================================  MAIN  ====================================== */
