* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: var(--dark, #333);
  width: auto;
  height: 100vh;
  min-width: 320px;
  min-height: 100%;
}

.container {
  max-width: 1180px; /* Прописываем максимальную ширину для мобилки, если тел размер будет сужатся. Если монитор будет намного больше он остановаится до этой цифры которой указали */
  margin-left: auto; /* Данные свойства автоматически выравнивают слева и справа. Они работают для блочной модели, по умолчанию элемент отображается как блок на стр. */
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.none {
  display: none !important;
}
.site-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  gap: 80px;
  overflow: hidden;
}

/* ====================================== HEADER ====================================== */
.header-top {
  display: flex;
}
.header-logo {
  width: 180px;
  height: 38px;
  flex-shrink: 0;
  padding: 3px 520px 36px 0px;
}
.header-email {
  margin-left: 180px;
  text-align: right;
  width: 280px;
  height: 45px;
  flex-shrink: 0;
}
.header-email a {
  color: var(--accent, #607ce6);

  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  /* text-decoration: none; Убирает нижнее подчеркивание */
}
.header-email p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 16.8px */
}

.header-phone {
  width: 180px;
  height: 45px;
  flex-shrink: 0;
  margin-left: 20px;

  text-align: right;
}
.header-phone p {
  margin: 0;
  color: var(--dark, #333);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 16.8px */
}
.header-phone a {
  color: var(--accent, #607ce6);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none; /* Убирает нижнее подчеркивание */
}

.header-line {
  position: absolute;
  width: 1180px;
  height: 1px;
  flex-shrink: 0;
  background: var(--gray, #888);
  margin-top: 77px;
  margin-bottom: 16px;
}

.header-bottom {
  width: 1180px;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 48px;
  height: 19px;
  gap: 72px;
}
.header-nav-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 44px;
  flex-shrink: 0;
  font-size: 15;
  width: 951px;
}

.header-nav ul {
  margin: 0;
  padding: 0;
}
.header-nav a {
  text-decoration: none; /* Убирает нижнее подчеркивание */

  color: var(--dark, #333);
  font-weight: 400;
  line-height: 1.2; /* 19.2px */
}

.header-nav a:hover {
  color: var(--accent, #607ce6);
}

.btn-call {
  align-items: center;
  border: 0;
  background-color: #fff;
  width: 157px;
  display: flex;

  text-transform: uppercase; /* Перевод всего текста в верхний регистр, т.е. заглавные буквы */
  font-weight: 400;
  line-height: 1.2; /* 19.2px */

  text-decoration: none; /* Убирает нижнее подчеркивание */

  color: var(--dark, #333);
  margin: 0;
  padding: 0;
}
.btn-call:hover {
  color: var(--accent, #607ce6);
}
.btn-call img {
  margin-right: 4px;
  justify-content: center;
  align-items: center;
  /* padding-left: 72px;   */
}

/* ====================================== HEADER ====================================== */

/*  */

/* ======================================  MAIN  ====================================== */
.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.hero-section {
  width: 1180px;
  height: 616px;
}
.hero-top {
  display: grid;
  /* ms-grid-columns: (1fr)[12]; */
  grid-template-columns: 50% 50%;
  gap: 10px;
}
.hero-title {
  width: 580px;

  padding-bottom: 32px;
  margin: 0;

  color: var(--dark, #333);

  font-size: 60px;
  font-weight: 700;
  line-height: 1.2; /* 72px */
}
.hero-discription {
  margin: 0;
  width: 379px;
  height: 94px;
  flex-shrink: 0;
  justify-content: center;
  padding-top: 24px;

  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 19.2px */
}

.about-section {
  width: 1180px;
  height: 602px;
}
.about-top {
  display: grid;
  grid-template-columns: 49.15% 49.15%;
  gap: 20px;
}
.about-top > h2:nth-child(1) {
  grid-column: 1 / -1;
  padding-bottom: 12px;
}
.about-top > p:nth-child(4) {
  grid-column: 1 /-1;
  padding-top: 4px;
  padding-bottom: 12px;
}
.about-title {
  width: 580px;

  color: var(--dark, #333);

  font-size: 48px;
  font-weight: 700;
  line-height: 1.2; /* 72px */
}
.about-discription {
  margin: 0;
  width: 580px;
  /* height: 94px; */
  flex-shrink: 0;
  justify-content: center;

  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 19.2px */
}
.about-top > img:nth-child(5) {
  margin: 0;
}

.product-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2; /* 57.6px */
  padding-bottom: 32px;
}

.product__container__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1180px;
  gap: 20px;
  list-style: none;
}

.product-card {
  position: relative;
  width: 380px;
  height: 435px;
  box-sizing: border-box;
  margin: 0;
  flex-shrink: 0;
}
.card-link {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 435px;
  text-decoration: none; /* Убирает нижнее подчеркивание */
  background: var(--light-gray, #f5f5f5);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2; /* 24px */
  width: 100%;

  transition: background 0.25s;
  transition: transform 0.2s ease-in; /* что? когда? и как? */
}
.card-link:hover {
  background: var(--third, #d9d9d9);

  transform: translateY(-7px);
}

.product-card h3 {
  color: var(--dark, #333);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2; /* 33.6px */
  padding: 107px 0 12px 24px;
}

.product-card_1_image {
  margin: 32px 0 0 24px;
  width: 200px;
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-card_dicrb {
  padding-left: 24px;
  color: var(--accent, #607ce6);
}
.product-card_dicrb * {
  /* margin-top: 12px; */
  margin-left: 4.5px;
}

.product-card:nth-child(2) h3 {
  margin-top: 82.445px;
}
.product-card:nth-child(3) h3 {
  margin-top: 36.438px;
}
.product-card:nth-child(4) h3 {
  margin-top: 45.438px;
}
.product-card:nth-child(5) h3 {
  margin-top: 53.43px;
}
.product-card:nth-child(6) h3 {
  margin-top: 57.43px;
}

.map-section {
  width: 1180px;
  height: 805px;
  position: relative;
}
.map-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2; /* 57.6px */
}
.map_totle {
  margin-top: 32px;
}
.map-32 {
  width: 1151.895px;
  height: 678.84px;
  /* display: inline-flex; */
  height: 715px;
  padding: 3.917px 24.535px 32.243px 3.57px;
  align-items: center;
  flex-shrink: 0;
}
.map-32 * {
  position: absolute;
}
.Cental {
  left: 348.95px;
  right: 949.79px;
  bottom: 217.65px;
  left: 49.27px;
}
.Southern {
  left: 490.56px;
  right: 1034.54px;
  bottom: 56.47px;
  left: 3.57px;
  width: 141.892px;
  height: 167.964px;
  flex-shrink: 0;
}
.Northwestern {
  left: 106.03px;
  right: 684.54px;
  bottom: 289.79px;
  left: 6.3px;
  width: 489.158px;
  height: 319.179px;
  flex-shrink: 0;
}
.FarEastern {
  left: 3.92px;
  right: 24.53px;
  bottom: 59.99px;
  left: 664.09px;
  width: 491.375px;
  height: 651.095px;
  flex-shrink: 0;
}
.Siberian {
  /* left: px; right: px;bottom: px; left: px; */
  left: 139.57px;
  right: 313.95px;
  bottom: 32.24px;
  left: 389.04px;
  width: 477.006px;
  height: 543.189px;
  flex-shrink: 0;
}
.Urals {
  left: 278.21px;
  right: 644.49px;
  bottom: 141.55px;
  left: 268px;
  width: 267.501px;
  height: 295.241px;
  flex-shrink: 0;
}
.Volga {
  left: 391.89px;
  right: 848.96px;
  bottom: 119.4px;
  left: 119.5px;
  width: 212.541px;
  height: 205.707px;
  flex-shrink: 0;
}

.map-point1 {
  left: 506px;
  right: 1013px;
  bottom: 195px;
  left: 71px;

  width: 96px;
  height: 14px;
  flex-shrink: 0;
}
.map-point2 {
  left: 525px;
  right: 1009px;
  bottom: 176px;
  left: 102px;

  width: 69px;
  height: 14px;
  flex-shrink: 0;
}
.map-point3 {
  left: 497px;
  right: 940px;
  bottom: 204px;
  left: 186px;

  width: 54px;
  height: 14px;
  flex-shrink: 0;
}
.map-point4 {
  left: 470px;
  right: 914px;
  bottom: 231px;
  left: 214px;

  width: 52px;
  height: 14px;
  flex-shrink: 0;
}
.map-point5 {
  left: 516px;
  right: 898px;
  bottom: 185px;
  left: 247px;

  width: 35px;
  height: 14px;
  flex-shrink: 0;
}
.map-point6 {
  left: 429px;
  right: 700px;
  bottom: 272px;
  left: 382px;

  width: 98px;
  height: 14px;
  flex-shrink: 0;
}
.map-point7 {
  left: 591px;
  right: 47px;
  bottom: 110px;
  left: 1050px;

  width: 83px;
  height: 14px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.map-point-discription {
  margin-left: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

.present__link7 {
  position: relative;
  transition: background 0.25s;
}
.present__link7::before {
  content: "sdfsdf ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--dark);
}
.present__link7:hover:before {
  background: var(--dark, #333);
}

/* ==================================================== */
/* .slick-btn {
  position: absolute;
  z-index: 999;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s;
}
.slick-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.slick-btn:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

*/

.news_section {
  width: 100%;
}


.slider{  
  max-width: 1180px;
  position: relative;
}
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}





.slider .slick-arrow{
  position: absolute;
  top: calc(50% - 15px);
  z-index: 10;
  font-size: 0;  
  width: 60px;
  height: 60px;
  border: 0;
}
.slider .slick-arrow.slick-prev{
  left: 15px;
  background: url('./img/2.\ main/5_news/sl-arrow_l.svg') 0 0 / 56% no-repeat;

}
.slider .slick-arrow.slick-next{
  right: 15px;
  background: url('./img/2.\ main/5_news/sl-arrow_r.svg') 0 0 / 56% no-repeat;

} 


/* Точки (булиты) */
.slider .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slick-dots li{
  list-style: none;
  margin: 0 10px;
}
/* Элемент точки */
.slider .slick-dots li button{
  border: 0;
  font-size: 0;
  background: var(--third, #d9d9d9);
width: 12px;
height: 10px;
border-radius: 40%;
}
/* Активная точка */
.slider .slick-dots li.slick-active button{
  background-color: #888;
}





/* ==================================================== */
.news_container {
  width: 1180px;
  height: 568px;
}
.news-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.news_cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  flex-shrink: 0;
}
.news_card {
  width: 372px;
  height: 478px;
  flex-shrink: 0;
  margin-top: 32px;
  box-sizing: border-box;
}
.news_card-link {
  text-decoration: none;
  color: var(--dark, #333);
}

.news_card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: var(--light-gray, #f5f5f5);
  transition: background 0.25s;
  transition: transform 0.2s ease-in; /* что? когда? и как? */
}
.news_card-grid:hover {
  background: var(--third, #d9d9d9);
  transform: translateY(-7px);
}

.news_card-grid > :nth-child(1) {
  grid-column: 1/-1;
}
.news_card-grid > :nth-child(2) {
  grid-column: 1/-1;
}

.news_card img {
  width: 372px;
  height: 251px;
  flex-shrink: 0;
}
.card_dicrb-h {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  width: 348px;
  margin: 16px 16px 83px 16px;
}

.card_dicrb-read {
  width: 93px;
  color: var(--accent, #607ce6);
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  margin: 0 0 25px 16px;
}
.card_dicrb-data {
  color: var(--gray, #888);
  font-weight: 400;
  line-height: 140%; /* 22.4px */

  margin: 0 16px 24px 176px;
}

.news_cards :nth-child(3) h3 {
  padding-bottom: 111px;
}
.news_cards :nth-child(4) h3 {
  padding-bottom: 111px;
}

.footer {
  margin-top: 80px;
  height: 361px;
  background: var(--dark, #333);
}
.footer-top-button {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  color: var(--light, #fff);
}

.footer-top {
  display: flex;
}

.footer_logo {
}
.footer_logo-a {
}
.footer_logo-a img {
  width: 180px;
  height: 38px;
  flex-shrink: 0;
  fill: var(--light, #fff);
}

.footer_top-nav * {
  flex-shrink: 0;
  margin-bottom: 24px;
}
.footer_top-nav {
  display: flex;
  width: 343px;
  height: 191px;
  margin-left: 420px;
  flex-shrink: 0;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.footer_nav {
  color: var(--light, #fff);
  text-decoration-line: none; /* text-decoration: none; Убирает нижнее подчеркивание */
}
.footer_top-nav2 {
  margin: 0 57px 0 91px;
}
.footer_top-nav3 {
  width: 155px;
  height: 124px;
  flex-shrink: 0;
}
.footer-button {
  margin-top: 73px;
  margin-left: auto;
  margin-right: auto;
  color: var(--light, #fff);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

/* ======================================  MAIN  ====================================== */
