@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --conteiner-width: 1270px;
  --conteiner-padding: 15px;
  --secondColor: rgb(15, 31, 28, 0.5);
  --orange: #ff7c4e;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

body a {
  color: #fff;
}

.none {
  display: none !important;
}

.header {
  overflow: hidden;
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  color: #fff;
  background: linear-gradient(154deg, #428e5f 0%, #112120 100%), #204434;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;

  background-image: url(./../img/header/header-button.svg);
}
.container {
  max-width: var(--conteiner-width);
  padding: var(--conteiner-padding);
  margin: 0 auto;
}

.container-right {
  padding-left: calc((100% - var(--conteiner-width)) / 2 + var(--conteiner-padding));
}

.header_top {
  padding-bottom: 86px;
}

.nav {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
}

.nav_logo {
  font-weight: 700;
  font-size: 20px;
}

.nav_menu {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}

.nav_menu a {
  position: relative;
}

.nav_menu a.nav_active::after,
.nav_menu a:hover::after {
  content: "";
  position: absolute;
  display: block;

  background: #c4c4c4;
  border-radius: 50px;
  bottom: -6px;
  left: 0;
  right: 10px;

  height: 4px;

  transition: 0.3s ease-in;
}

.nav_menu.nav--footer a.nav_active,
.nav_menu.nav--footer a:hover {
  color: var(--orange);
  transition: color 0.2s ease-in;
}

.nav_menu.nav--footer a.nav_active::after,
.nav_menu.nav--footer a:hover::after {
  display: none;
}

.nav_login {
  display: flex;
  column-gap: 25px;
  font-size: 15px;
  align-items: center;
}

.nav_login_btn {
  display: inline-block;
  padding: 13px 44px;
  border-radius: 100px;
  width: 128px;
  height: 49px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
}

.nav_login_btn:hover {
  color: #204434;
  transition: color 0.2s ease-in;
}

.nav_login_btn:active {
  position: relative;
  top: 2px;
}

.nav_toggle {
  display: none;
}

/* ============ Header_Content ============ */
.header_bottom {
  display: flex;
}

.header_content {
  position: relative;
  z-index: 1;
  max-width: 592px;
}

.header_badge {
  display: inline-block;
  border-radius: 15px;
  padding: 11px 30px;
  font-weight: 500;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.25);

  margin-bottom: 7px;
}
.header_title {
  margin-bottom: 30px;
  display: inline-block;
  font-weight: 400;
  font-size: 55px;
}
.header_text {
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  opacity: 0.5;
}
.header_btn {
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  color: #fefefe;

  padding: 27px 48px;

  border-radius: 27px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
}

.header_btn:hover {
  color: #204434;
  transition: color 0.2s ease-in;
}

.header_btn:active {
  position: relative;
  top: 2px;
}

.header_img {
  position: relative;
  flex-grow: 1;
}
.header_img img {
  position: absolute;
  top: -181px;
  right: -87px;

  max-width: unset; /* не сжимает картинку*/
  width: 894px;
  height: 940px;

  pointer-events: none; /* не позволяет сохранить картинку */
}

.header_img::after {
  content: "";
  position: absolute;

  top: -30px;
  right: -50px;

  width: 830px;
  height: 622px;

  background-image: url("./../img/header/header-elements.svg");
  pointer-events: none;
}

/* ============ Destination_Content ============ */

.destinations {
  padding: 96px 0 100px;
  overflow-x: hidden;
}
.destinations_row {
  display: flex;
  column-gap: 50px;
}
.destinations_content {
  max-width: 456px;
}
.dest_title {
  font-size: 55px;
  font-weight: 600;
}

.dest_title span {
  font-size: 30px;
}

.dest_text {
  font-size: 25px;
  font-weight: 500;
  color: var(--secondColor);
  margin: 15px 0 60px;
}

.btn {
  display: inline-block;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  width: 223px;
  height: 79px;

  font-weight: 600;
  font-size: 20px;
  color: #fefefe;

  padding: 25px 44px 24px 45px;
}
.btn:hover {
  color: #204434;
  transition: color 0.2s ease-in;
}

.btn:active {
  position: relative;
  top: 2px;
}

.destinations_slaider {
  width: 1100px;
  flex-shrink: 0;
}

.slider {
  /* display: flex; */
  column-gap: 30px;
  position: relative;
  height: 456px;
}

.slaider_item {
  margin-top: 27px;
  border-radius: 35px;

  width: 335px;
  height: 402px;
  /* object-fit: cover; */
  transition: 0.2s ease-in;
}

.slider .center .slaider_item {
  width: 380px;
  height: 456px;
  margin-top: 0;
}

.slader_btn {
  position: absolute;
  width: 68px;
  height: 68px;

  border-radius: 50%;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  z-index: 9999;

  display: flex;
  align-items: center;
  /* top: 186px; */
  /* padding: 27px 31px 27px 26px; */
}

.slader_btn_prev {
  padding-left: 26px;
  justify-content: flex-start;
  top: 186px;
  left: -27px;
}

.slader_btn_next {
  padding-right: 26px;
  justify-content: flex-end;
  top: 186px;
  right: -27px;
}

/* ============ Сustomers ============ */

.customers_row {
  display: flex;
  padding: 100px 0 133px;
  column-gap: 68px;
}
.customers_img img {
  border-radius: 60px;
}
.customers_content {
  max-width: 565px;
}
.cust_subtitle {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 35px;
}
.cust_cont_pro {
  display: flex;
  margin-bottom: 60px;
}
.cust_cont_h {
  margin-left: 33px;
}

.cust_cont_h h3 {
  font-weight: 500;
  font-size: 33px;
}
.cust_cont_h h4 {
  font-weight: 400;
  font-size: 25px;
  color: var(--secondColor);
}
.customers_content p {
  font-weight: 500;
  font-size: 22px;
  color: var(--secondColor);
  width: 491px;
  margin-bottom: 30px;
}
.cust_cont_man {
  overflow: hidden;
  border-radius: 50%;
  width: 134px;
  height: 134px;
  background: #ff7c4e;
}

/* ============ CTA ============ */

.cta {
  padding: 100px 0 35px;
}
.cta_plate {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 581px;

  background: #fff;
  border-radius: 60px;
}
.cta_plate::before,
.cta_plate::after {
  content: "";
  position: absolute;

  width: 63px;
  height: 83px;
}

.cta_plate::before {
  background-image: url(./../img/cta/cta-el-02.svg);
  left: 74px;
  bottom: 56px;
}

.cta_plate::after {
  background-image: url(./../img/cta/cta-el-01.svg);
  top: 74px;
  right: 80px;
}

.cta_title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
}
.cta_subtitle {
  font-size: 30px;
  font-weight: 400;
  color: var(--secondColor);
  margin-bottom: 60px;
}
.cta_btn {
  border-radius: 27px;
  padding: 25px 54px;

  font-weight: 600;
  font-size: 20px;
  color: #fff;

  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
}

.cta_btn:hover {
  color: #204434;
  transition: color 0.2s ease-in;
}
.cta_btn:active {
  position: relative;
  top: 2px;
}

/* ============ Subscribe ============ */
.subscribe {
  padding: 100px 0 50px;
}
.subscribe_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe_title {
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 60px;
}
.subscribe--form {
  display: flex;
  width: 800px;
  height: 123px;
  background-color: #ffffff;
  border-radius: 35px;
  align-items: center;
  column-gap: 191px;
}
.subscribe_email {
  padding-left: 46px;
  color: var(--secondColor);
  font-weight: 500;
  font-size: 24px;
}

.subscribe_email::placeholder {
  color: var(--secondColor);
}
.subscribe_btn {
  font-size: 25px;
  font-weight: 600;
  border-radius: 35px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  padding: 34px 87px;
}

.subscribe_btn:hover {
  color: #204434;
  transition: color 0.2s ease-in;
}
.subscribe_btn:active {
  position: relative;
  top: 1px;
}

/* ============ Footer ============ */

.footer {
  padding: 56px 0 74px;
}

.footer a {
  color: var(--secondColor);
}

.logo--footer {
  color: #ff7c4e !important;
}

.footer button {
  color: #fff;
  margin-left: 41px;
}

/* ============ Buttons ============ */

/* ============ Menu_icons ============ */

.menu-icon-wrapper {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --color: #fff;

  width: var(--width);
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: var(--color)
}
.menu-icon::before {
  content: "";
  position: absolute;
  top: calc(var(--line-height) * -2)
  /* top: -10px; */
  left: 0px;
  width: var(--width);
  height: var(--height);
  background-color: var(--color)
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}
.menu-icon::after {
  content: "";
  position: absolute;
  top: calc(var(--line-height) * 2)
  left: 0px;
  width: var(--width);
  height: var(--height);
  background-color: var(--color)
  transition: transform var(--time) ease-in, top var(--time) linear var(--time) ;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}
.menu-icon.menu-icon-active::before {
  top: 0;
  /* content: ""; */
  transform: rotate(45deg);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time) ;
}
.menu-icon.menu-icon-active::after {
  top: 0;
  /* content: ""; */
  transform: rotate(-45deg);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time) ;
}
/* ============ Media ============ */
@media (max-width: 1269px) {
  .container-right {
    padding-left: 15px;
  }
}

@media (max-width: 1000px) {
  .nav_menu {
    display: none;
  }
  .nav_login {
    display: none;
  }
  .nav_toggle {
    display: block;
  }
}

@media (max-width: 1269px) {
}

@media (max-width: 1269px) {
}
